<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Dashboard</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <div th:replace="admin/layouts/fragments/navbar :: navbar"></div>

    <!-- Sidebar -->
    <div th:replace="admin/layouts/fragments/sidebar :: sidebar"></div>

    <!-- Content Wrapper -->
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid" th:insert="${content}"></div>
        </section>
    </div>

    <!-- Footer -->
    <div th:replace="admin/layouts/fragments/footer :: footer"></div>

</div>

<!-- JS -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>
</body>
</html>