<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'EventSphere'">EventSphere</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

    <!-- Navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- Content Wrapper -->
    <div class="content-wrapper p-3">
        <section class="content">
            <div class="container-fluid">
                <!-- Content sẽ được chèn vào đây -->
                <div th:replace="${content}"></div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>

</div>

<!-- JS -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>
</body>
</html>