<!DOCTYPE html>
<html layout:decorate="~{_fragments/layout}" th:with="currentPage=main"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>EventSphere - <th:block layout:fragment="title">Home</th:block></title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/home/main.css}">
    <link rel="stylesheet" th:href="@{/css/home/fontawesome-all.min.css}">

    <!-- Layout CSS -->
    <th:block layout:fragment="styles">
        <!-- Page-specific CSS will be inserted here -->
    </th:block>
</head>
<body class="is-preload">
<!-- Header -->
<header class="alt" id="header">
    <nav id="nav">
        <ul>
            <li class="current"><a th:href="@{/}">Home</a></li>
            <li>
                <a class="icon solid fa-angle-down" href="#">Events</a>
                <ul>
                    <li><a th:href="@{/events/upcoming}">Upcoming Events</a></li>
                    <li><a th:href="@{/events/past}">Past Events</a></li>
                    <li><a th:href="@{/events/create}">Create Event</a></li>
                </ul>
            </li>
            <li><a th:href="@{/about}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li sec:authorize="isAnonymous()">
                <a class="button" th:href="@{/login}">Sign In</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a class="icon solid fa-user" href="#">
                    <span sec:authentication="name">User</span>
                </a>
                <ul>
                    <li><a th:href="@{/profile}">My Profile</a></li>
                    <li><a th:href="@{/my-events}">My Events</a></li>
                    <li><a th:href="@{/settings}">Settings</a></li>
                    <li>
                        <form class="d-inline" method="post" th:action="@{/logout}">
                            <button class="button small" type="submit">Sign Out</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<!-- Main Content -->
<div layout:fragment="content">
    <!-- Page content will be inserted here -->
</div>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="footer-content">
            <section>
                <h3>EventSphere</h3>
                <p>Your premier destination for managing and discovering amazing events.</p>
                <ul class="icons">
                    <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                    <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                    <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                    <li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
                </ul>
            </section>
            <section>
                <h4>Quick Links</h4>
                <ul class="alt">
                    <li><a th:href="@{/about}">About Us</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a th:href="@{/privacy}">Privacy Policy</a></li>
                    <li><a th:href="@{/terms}">Terms of Service</a></li>
                </ul>
            </section>
            <section>
                <h4>Contact Us</h4>
                <ul class="contact">
                    <li class="icon solid fa-envelope">
                        <a href="mailto:info@eventsphere.com">info@eventsphere.com</a>
                    </li>
                    <li class="icon solid fa-phone">(123) 456-7890</li>
                    <li class="icon solid fa-map-marker-alt">
                        123 Event Street<br/>
                        San Francisco, CA 94103
                    </li>
                </ul>
            </section>
        </div>
        <div class="copyright">
            &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2025</span> EventSphere. All
            rights reserved.
        </div>
    </div>
</footer>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>

<!-- Page-specific scripts -->
<th:block layout:fragment="scripts">
    <!-- Page-specific JavaScript will be inserted here -->
</th:block>
</body>
</html>