<th:block th:fragment="sidebar">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a class="brand-link" href="#">
            <span class="brand-text font-weight-light">EventSphere Admin</span>
        </a>
        <div class="sidebar">
            <nav>
                <ul class="nav nav-pills nav-sidebar flex-column">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/index}">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/users}">
                            <i class="nav-icon fas fa-users"></i>
                            <p>User Management</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/events}">
                            <i class="nav-icon fas fa-calendar-alt"></i>
                            <p>Event Management</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/feedback}">
                            <i class="nav-icon fas fa-comments"></i>
                            <p>Feedback Management</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/reports}">
                            <i class="nav-icon fas fa-chart-bar"></i>
                            <p>Reports</p>
                        </a>
                    </li>

                    <!--                    logout-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</th:block>